@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    background-color:white;
    height: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

header {
    background-color: #0f2862;
    color: #FFFFFF;
    padding: 15px;
    background-repeat: no-repeat;
    background-image: url(assets/test2.png);
    background-size: contain;
    background-position: left;
    background-size: 100px;
}

.title{
    margin-left: 80px;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
}

.card-div {
    background-color: RGB(48,90,133,0.80);
    margin: 30px;
    margin-top: 1px;
    margin-left: -13px;
    font-style: italic;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color:#0f2862;
    color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: black;
}

.aside {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    margin-bottom: 7px;
    height: 750px;
    width: 300px;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.add-txt {
    margin: 20px;
    font-size: 20px;
    font-family: 'Roboto';
    color: #0f2862;
}

.add-author {
    margin: 20px;
    font-size: 20px;
    font-family: 'Roboto';
    color: #0f2862;
}

.add-title {
      font-size: 35px;
      margin-top: 40px;
      font-family: 'Roboto';
}

.add-tag {
    margin: 20px;
    font-size: 20px;
    font-family: 'Roboto';
    color: #0f2862;
}

.input-txt {
    height: 50px;
    width: 200px;
    border: 1px solid grey;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.input-author {
    height: 30px;
    width: 200px;
    border: 1px solid grey;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.input-tag {
    height: 30px;
    width: 200px;
    margin: 10px;
    border: 1px solid grey;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#tagDropdown {
    margin: 40px;
    width: 150px;
    height: 100px;
    border: 1px solid grey;
}

.sub-bt {
    height: 40px;
    width: 100px;
    font-size: 15px;
    color: white;
    background-color: #0f2862;
    border-radius: 10px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.search-input {
    height: 30px;
    width: 200px;
    border: 1px solid grey;
    font-style: italic;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.go-bt {
    border: 1px solid grey;
    height: 30px;
    width: 40px;
    margin-left: 10px;
    border-radius: 5px;
    color: grey;
    font-style: italic;
}

footer {
    background-color:#0f2862;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  @media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
  }

input {
      height: 30px;
      width: 400px;
      position:relative;
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
              box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

select {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

button{
      height: 40px;
      width: 40px;
}

.edit-button{
    background-color: black;
    height: 40px;
    width: 40px;
    background-image: url(assets/pencil.png);
    background-size: contain;
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.edit-button:hover {
    background-color: #0f2862;
  }

.delete-button {
    background-color: black;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-image: url(assets/trash.png);
    background-size: contain;
    background-position: center;
    background-size: 20px;
    margin-left: 5px;
}

.delete-button:hover {
    background-color: #0f2862;
}
  
.editclicked{
    height: 30px;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.editclicked:hover {
    background-color: #0f2862;
}

a{
    padding: 5px;
    margin-top: 20px;
    color: white;
    margin-left: 5px;
    margin-bottom: 1000px;
    text-decoration: none;
}

p a{
    color:blue;
    margin-left: 0px;
}

h3{
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.edit-quote-text{
    border: 1px #0f2862 dotted;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
}

.edit-quote-author{
    border: 1px #0f2862 dotted;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
}

.quote-text{
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

#tag-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    padding-top: 20px;
    width: 200px
}

.edit-quote-text {
    display: none;
}
.addTag{
    display: none;
}
.tagDelete{
    display: none;
}
.CreateQuoteTagDropdown {
    display: none;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100px;
}
.edit-quote-author {
    display: none;
}
.editclicked {
    display: none;
}
.tagDeleteDiv{
    display: none;
}
.button-div {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#about-p{
  color: black;
}

.tag-div{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    height: 90px;
}

#twas{
    padding-left: 90px;
}

.aside{
  background-color:rgb(49, 90, 134, 0.40);
}

.quote-div {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: RGB(48,90,133);
    margin: 30px;
    margin-top: 5px;
    margin-left: -10px;
    padding: 50px;
    font-style: italic;
}

.tag-seo{
    background-color: #0f2862;
}

#main-container{
    min-height: 100%;
    position: relative;
    padding-bottom: 101px !important;
}

.main-content{
    padding-top: 15px;
}